/*
font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
*/
/*************header css*************/
*{
	margin: 0;
	padding: 0;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
a,a:hover{
	text-decoration: none;
}
header{
	width: 100%;
	position: absolute;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 32px 0px;
}
.logo{

}
.menu{
	text-align: right;
}
.delivery img{
	vertical-align: middle;
}
.delivery span{
	font-family: 'Montserrat', sans-serif;
	color: #3d2514;
	font-weight: bold;
	margin-left: 16px;
	vertical-align: middle;
}
.main-menu{
	margin-top: 16px;
}
.main-menu ul li{
	display: inline-block;
	list-style: none;
}
.main-menu ul li a{
	margin-left: 28px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    color: #3d2514;
    font-size: 21px;
    letter-spacing: 3px;
}

/***********banner css*************/
.banner{
	background: url(../img/baner.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	background-size: cover;
	height: 105vh;	
}
.content{
	display: flex;
}
.content-left{
	flex-basis: 50%;
}
.content-right{
	position: relative;
}
.content-right img{
	width: 100%;
	margin-top: 50px;
}
.inner{
	height: 100vh;
	display: table-cell;
	vertical-align: middle;
}
.inner span{
	font-family: 'Bebas Neue', cursive; 
	border: 2px dashed #3d2514;
	padding: 8px;
	color: #3d2514;
}
.inner h1{
	font-size: 114px;
	font-family: 'Alfa Slab One', cursive;
	color: #3d2514;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 2px 3px white;
}
.inner h2{
	font-size: 56px;
	font-family: 'Alfa Slab One', cursive;
	color: #3d2514;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 2px 3px white;
	letter-spacing: 2px;
}
.circle {
    position: absolute;
    top: 65%;
    left: 5%;
    background: #bf2222;
    padding: 22px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 50%;
    letter-spacing: 6px;
}
.circle p {
    font-size: 40px;
    border: 3px dashed #ffffff;
    border-radius: 50%;
    padding: 23px;
}
/**********gallery*******************/
		
/*****************************/
.bu{
	width: 100%;
}
.burger-gallery{
	width: 100%;
	padding: 80px 0;
}
.gallery{
	display: flex;
}
.g-left{
	flex-basis: 50%;
	margin-right: 22px;
}
.g-right{
	flex-basis: 50%;
	
}
.item{
	position: relative;
}
.item-text{
	position: absolute;
	left: 20px;
	top: 20px;
}
.item-text h3{
	font-family: 'Bebas Neue', cursive;
	font-weight: bold;
	font-size: 25px;
	color: white;
}
.item-text h1{
	font-family: 'Bebas Neue', cursive;
	font-weight: bold;
	font-size: 42px;
	color: white;
}
.item-top{
	margin-bottom: 33px;
}
.g-button{
	text-align: center;
	margin-top: 24px;
}
.g-button button{
	background: #ffc045;
	color: #3d2514;
	font-family: 'Bebas Neue', cursive;
	font-size: 22px;
	padding: 16px 42px;
	border: none;
}
.g-button button:hover{
	cursor: pointer;
	transition: 0.5s;
	transform: translateX(5px);
	background-color: tomato;
}

/**********category****************/
.burger-cat{
	width: 100%;
	padding: 0px 0px 80px 0px;
	text-align: center;
}
.cat-text{
	text-align: center;
}
.cat-text h1{
	font-size: 56px;
	font-family: 'Alfa Slab One', cursive;
	color: #3d2514;
	font-weight: bold;
	text-transform: uppercase;
}
.cat-text p{
	font-family: 'Montserrat', sans-serif;
	color: #3d2514;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 16px;
}
.cat-items{
	display: flex;
	margin-top: 42px;
}
.cat-items img{
	width: 100%;
}
.cat-items h1{
	font-family: 'Bebas Neue', cursive;
	color: #3d2514;
	font-size: 42px;
	margin-bottom: 16px;
}
.cat-items p{
	font-family: 'Montserrat', sans-serif;
	color: #3d2514;
	margin-bottom: 22px;
}
.cat-items button{
	font-family: 'Alfa Slab One', cursive;
	color: white;
	background: #bf2222;
	padding: 16px 42px;
	border-radius: none;
	text-transform: uppercase;
	font-size: 16px;
}
.cat-items button:hover{
	cursor: pointer;
	transition: 0.5s;
	transform: translateY(5px);
	background-color: green;
}
/************b-slider css**********************/
.b-slider{
	width: 100%;
	padding-bottom: 80px;
}
.slider-main{
	display: flex;
	padding: 32px;
	box-shadow: 10px 10px 30px 0px rgb(0 0 0 / 20%);
}
.slider-contents{
	padding: 70px 24px;
	flex-basis: 50%;
}
.slider-img{
	flex-basis: 50%;
}
.slider-img img{
	width: 100%;
}
.slider-contents h3{
	font-family: 'Bebas Neue', cursive;
	color: #3d2514;
	font-size: 30px;
	text-transform: uppercase;

}
.slider-contents h1{
	font-family: 'Alfa Slab One', cursive;
	color: #3d2514;
	font-size: 42px;
	text-transform: uppercase;
}
.slider-contents p{
	font-family: 'Montserrat', sans-serif;
	color: #3d2514;

}
/***********table css******************************/
.form{
	background: url(../img/table.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	background-size: cover;
	padding: 80px 0;
	height: 100vh;
}
.table{
	width: 80%;
	margin: 0px auto;
}
.reservation{
	width: 60%;
    margin: 0px auto;
}
.reservation h3{
	text-align: center;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 29px;
    color: #3d2514;
}
.reservation h1{
	text-align: center;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    color: #3d2514;
}
.box{
	display: flex;
    margin-top: 80px;
    margin-left: 100px;
}
.form-1{
	flex-basis: 50%;
	margin: 10px;
}
.form-1 input{
	width: 75%;
    padding: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #3d2514;
    margin-bottom: 30px;
}
.form-2{
	flex-basis: 50%;
	margin: 10px;
}
.form-2 input{
	width: 75%;
    padding: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #3d2514;
    margin-bottom: 30px;

}
.form-2 button{
    width: 87%;
    background: #bf2222;
    color: white;
    border: none;
    font-family: 'Alfa Slab One', cursive;
    padding: 25px;
    letter-spacing: 1px;
}
.form-2 button:hover{
	cursor: pointer;
	background: #3d2514; 
}
/***********footer css*************************/
.footer{
	width: 100%;
    background: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.upper{
	display: flex;
    justify-content: space-between;
}
.left-footer1{
	margin-top: 40px;
}
.left-footer1 img{
	margin: 10px 0px 0px 0px;
}
.left-footer1 p{
	color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 250px;
    line-height: 23px;
    margin: 10px 10px 10px 10px;
    padding: 25px 0px 90px 0px;
}
.right-footer1 {
    margin-top: 200px;
}
.right-footer1 span {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 21px;
}
.right-footer1 i {
    color: white;
    font-size: 20px;
    margin-right: 20px;
}
.down{
	display: flex;
    justify-content: space-between;
}
.copyright{
	font-family: 'Bebas Neue', cursive;
    margin: 0px 0px 20px 0px;
}
.copyright p {
    color: white;
    font-size: 18px;
}
.social-icon {
    padding-bottom: 10px;
}
.social-icon a i{
    color: black;
    margin: 5px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    line-height: 30px;
    text-align: center;
    background: white;
    
}
.social-icon a:hover{
	cursor: pointer;
}



